:root {

    /* --header-height: 3rem; */
    
    /*========== Colors ==========*/
    --primary-color: #363654;
    --primary-light: #505063;
    --secondary-color: #F4C184;
    --secondary-dark :#DCA058;
    --text-color: #1F1F32;
    --input-color: rgba(31, 31, 50, .5);
  
    /*========== Font and typography ==========*/
    --body-font: 'Oxygen', sans-serif;
    --h1-font: 'Fahkwang', sans-serif;
  
    /*.5rem = 8px | 1rem = 16px ...*/
    /* --big-font-size: 3.5rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
    --tiny-font-size: 0.625rem; */
  
    /*========== Font weight ==========*/
    /* --font-normal: 400;
    --font-medium: 500;
    --font-semi-bold: 600; */
  
    /*========== Margenes Bottom ==========*/
    /*.5rem = 8px | 1rem = 16px ...*/
    /* --mb-0-25: 0.25rem;
    --mb-0-5: 0.5rem;
    --mb-0-75: 0.75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;
   */

}


@media screen and (min-width: 600px) {
    h1 {
        font-family: var(--h1-font);
        color: var(--secondary-color);
        text-align: center;
        font-size: 260px;
        font-weight: 300;
        margin-top:24px;
    }
    
    h2 {
        font-family: var(--h1-font);
        color: var(--secondary-color);
        text-align: center;
        font-size: 260px;
        margin-top:-320px;
        margin-bottom: -56px;
        font-weight: 300;
    }
    
    h3 {
        font-family: var(--body-font);
        color: var(--secondary-color);
        font-size: 16px;
        text-align: center;
        font-size: 16px;
        font-weight: 300;
    }
}

@media screen and (max-width: 600px) {
    h1 {
        font-family: var(--h1-font);
        color: var(--secondary-color);
        text-align: center;
        font-size: 200px;
        font-weight: 300;
        margin-top:32px;
    }
    
    h2 {
        font-family: var(--h1-font);
        color: var(--secondary-color);
        text-align: center;
        font-size: 200px;
        margin-top:-260px;
        margin-bottom: -56px;
        font-weight: 300;
    }
    
    h3 {
        font-family: var(--body-font);
        color: var(--secondary-color);
        text-align: center;
        font-size: 16px;
        max-width: 260px;
        font-weight: 300;
    }


}
