.form-section {
    position: "absolute";
    height: 100vh;
    width: 100vw;
    background-color: #fff;
}

.nodal {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin-top: 48px;
}

form {
    padding: 32px;
    border-radius:25px;
    background: #fff;
    box-shadow: 0 3px 10px rgba(54, 54, 84, .2); 
}

p {
    font-family: --var(--body-font);
    font-weight: 300;
    font-size: 12px;
    margin-top:0px;
}

.form-item {
    font-family: var(--body-font);
    color: --var(--text-color);
    max-width: calc(100% - 64px)
}

div {
    display: flex;
    flex-direction: column;
    align-items: left;
    max-width: 400px;
}

/* .column-form-item {
    display: flex;
    flex-direction: row;
} */

input, textarea, select {
    font-family: var(--body-font);
    color: --var(--input-color);
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 10px;
    min-width: 100%;
}

input {
    width: 300px;
    padding: 12px;
    height: 16px;
    font-size:12px;
}

textarea {
    width: calc(100% - 12px);
}

/* select {
    width: 100%;
    padding: 7px 0;
    background: transparent;
} */


/* ------ BUTTON --------- */

button {
    font-family: --var(--body-font);
    width: 100%;
    padding:16px;
    margin-top: 16px;
    border-radius: 10px; 
    background: var(--secondary-color);
    font-family: var(--body-font);
    font-size: 18px;
    color: #fff;
    cursor: pointer;
    border:none;
    font-weight: 300px;
}

button:disabled,
button[disabled]{
    font-family: --var(--body-font);
    width: 100%;
    padding:16px;
    font-size: 18px;
    margin-top: 16px;
    border: none;
    border-radius: 10px; 
    font-size: 16px;
    border: 2px solid #F4C184;
    background-color: #fff;
    font-weight: 600;
    color: rgba(244, 193, 132);
}

button:hover:enabled,
button[hover]{
    border-radius: 10px;
    background: var(--secondary-dark);
}

/* ------ RESPONSIVE --------- */

@media (min-width: 568px) {
    .form-item {
        min-width: 200px;
    }
}

@media (min-width: 700px) {
    .form-item {
        min-width: 300px;
    }
}


/* ------------- SCHEDULE ----------------- */

/* .center-schedule {
    margin-top: 64px;
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-bottom: 32px;
}

table, tr, td {
    font-family: 'Inter', sans-serif;
    width: 500px;
    background-color: #F5F5F5;
    text-align:center;
    margin-top: 24px;
    border: 1px solid var(--text-color);
}

th {
    background-color: var(--secondary-color);
    color: var(--text-color);
    font-weight: 600;
}

.schedule-text {
    text-align: left;
    font-weight: 300;
    margin-bottom:0px;
    color: var(--text-color);
} */


.center-schedule {
    font-family: var(--body-font);
    margin-top: 64px;
    display: flex;
    min-width:100%;
    flex-direction: column;
    align-items: left;
    margin-bottom: 32px;
}

table {
    border-radius:6px;
    /* border-collapse: collapse; */
    margin: 25px 0;;
    font-size: 12px;
    font-family: var(--body-font);
    /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.15); */
}

thead tr {
    background-color: var(--primary-light);
    font-family: var(--body-font);
    color: #ffffff;
    text-align: left;
}

th,td {
    padding: 12px 15px;
}

tbody tr {
    font-family: var(--body-font);
    color: var(--body-font);
    border-bottom: 1px solid #dddddd;
}

tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.plan-info {
    background-color: var(--primary-color);
}