.center-nodal {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 32px;
}

.center-schedule {
    margin-top: 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 32px;
}

table, tr, td {
    font-family: 'Noto Sans Mono', monospace;
    width: 300px;
    background-color: #F5F5F5;
    text-align:center;
    margin-top: 24px;
    border: 1px solid var(--text-color);
}
th {
    background-color: var(--secondary-color);
    color: var(--text-color);
    font-weight: 600;
}

p, h3, h4, li {
    font-family: 'Noto Sans Mono', monospace;
    text-align: left;
    font-weight: 300;
    color: var(--text-color);
}

h2 {
    font-family: 'Noto Sans Mono', monospace;
    text-align: center;
    font-weight: 300;
    color: var(--text-color);
}

.schedule-text {
    font-family: 'Noto Sans Mono', monospace;
    text-align: center;
    font-weight: 300;
    margin-bottom:0px;
    color: var(--text-color);
}

h4 { 
    color: var(--primary-color)
}

.form-item {
    position: relative;
    min-width: 250px;
}

.column-form-item {
    display: flex;
    flex-direction: row;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center
    min-width: 100%;
    padding: 32px;
    border-radius:12px;
    background: #fff;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2); 
}

input, textarea, select {
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-family: 'Noto Sans Mono', monospace;
}

input {
    width: calc(100% - 24px);
    padding: 8px;
}

select {
    width: 100%;
    padding: 7px 0;
    background: transparent;
}

textarea {
    width: calc(100% - 12px);
    padding: 8px;
}


.btn-block {
    margin-top: 16px;
    text-align: center;
}

.dual-button {
    display: flex;
    flex-direction: row;
    margin-top: 16px;
    text-align: center;
    align-items: center;
}

button {
    width: 250px;
    padding:12px;
    border: none;
    border-radius: 5px; 
    background: var(--primary-dark);
    font-family: 'Noto Sans Mono', monospace;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
}

button::hover {
     background: #fff;
}

@media (min-width: 568px) {
        .start-end-input, .city-item {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
}

.start-end-input input, .city-item input {
        width: calc(50% - 20px);
}

/* .city-item select {
        width: calc(50% - 8px);
} */

