.center-nodal {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 32px;
}

.center-schedule {
    margin-top: 64px;
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-bottom: 32px;
}

table, tr, td {
    font-family: 'Inter', sans-serif;
    width: 500px;
    background-color: #F5F5F5;
    text-align:center;
    margin-top: 24px;
    border: 1px solid var(--text-color);
}

th {
    background-color: var(--secondary-color);
    color: var(--text-color);
    font-weight: 600;
}

p, h3, h4, li {
    font-family: 'Inter', sans-serif;
    text-align: left;
    font-weight: 300;
    color: var(--text-color);
}

p {
    font-size: 18px;
}

h2 {
    font-family: 'Inter', sans-serif;
    text-align: center;
    font-weight: 300;
    color: var(--text-color);
}

.schedule-text {
    font-family: 'Inter', sans-serif;
    text-align: left;
    font-weight: 300;
    margin-bottom:0px;
    color: var(--text-color);
}

h4 { 
    color: var(--primary-color)
}

.form-item {
    position: relative;
    min-width: 50px;
}

.column-form-item {
    display: flex;
    flex-direction: row;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* min-width: 40%; */
    padding: 32px;
    border-radius:20px;
    background: #fff;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2); 
}

input, textarea, select {
    margin-bottom: 10px;
    font-size:16px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-family: 'Inter', sans-serif;
}

input {
    width: calc(100% - 24px);
    padding: 8px;
}

select {
    width: 100%;
    padding: 7px 0;
    background: transparent;
}

textarea {
    width: calc(100% - 12px);
    padding: 8px;
}

/* .dual-button {
    display: flex;
    flex-direction: row;
    margin-top: 24px;
    text-align: center;
    justify-content: space-between;
    align-items: center;  
} */

button {
    width: 242px;
    padding:16px;
    margin-top: 24px;
    border-radius: 5px; 
    background: var(--primary-dark);
    font-family: 'Noto Sans Mono', monospace;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
    border:none;
}

button:disabled,
button[disabled]{
    width: 242px;
    padding:16px;
    font-size: 18px;
    margin-top: 24px;
    border: none;
    border-radius: 5px; 
    font-size: 16px;
    border: 3px solid  rgba(68, 142, 241, .5);
    background-color: #fff;
    font-weight: 600;
    color: rgba(68, 142, 241, .5);
}


button:hover:enabled,
button[hover]{
    background: rgb(40, 103, 188);
}

@media (min-width: 568px) {
    .form-item {
        min-width: 200px;
    }
}

@media (min-width: 700px) {
    .form-item {
        min-width: 300px;
    }
}

/* .start-end-input input, .city-item input {
        width: calc(50% - 20px);
} */

/* .city-item select {
        width: calc(50% - 8px);
} */

